.buttonGroup {
  display: inline-flex;
  gap: var(--ode-spacing-4);
  align-items: center;
}

@media (max-width: 768px) {
  .buttonGroup {
    flex-direction: column;
    width: 100%;
  }

  .buttonGroup > * {
    width: 100%;
  }
}
